 <h1> hello world from  hello page </h1>

 <%= 1+1 %>


 <% var="learning templates on rails"  %><br>
 <%= "Hello I am #{var}" %>

 <%
 @array.each do |n| %>
   <%= n%>
 <% end 
 %>

 <%= link_to("hello",'/demo/index') %><br/>

 <%= link_to("hello",{:controller => 'demo', :action => 'index'}) %> <br/>

 ID=<%= @id %><br/>
 Page=<%= @page %><br/>
 Page1=<%= params['page'] %><br/>
 Page2=<%= params[:page] %><br/>
 Nextpage=<%= @page.to_i + 1 %>








