<h1>Hello World from index!</h1>
<a href="/demo/hello">hello </a>
<br>

<%= link_to("hello page 2",{:controller => 'demo', :action => 'hello' }) %><br/>

<%= link_to("hello with parameters",{:action => 'hello', :page => 5, :id => 20}) %>
<br/>