

<div class="sections index">
  <h2>Sections</h2>

  <%= link_to("Add New Section", new_section_path , :class => 'action new') %>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th> * </th>
      <th>Page Id</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr>
      
      <td><%= section.position %> </td>
      <td><%= section.page_id %> </td>
      <td><%= section.name %> </td>
      <td class="center"><%= status_tag(section.visible) %></td>
      <td class="center"><%= section.content_type %></td>
      <td class="actions">
      <!--can use "subjects/#{subject.id}" or "subject_path(subject) or {:controller => subjects, :action => show, :id => subject.id}"-->
        <%= link_to("Show", section_path(section), :class => 'action show') %>
        <%= link_to("Edit", edit_section_path(section), :class => 'action edit') %>
        <%= link_to("Delete", delete_section_path(section), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>