<%= link_to("<< Back to List", sections_path, :class => 'back-link') %>

<div class="pages new">
  <h2>Create Section</h2>

  <%= form_for(@section) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>


    <div class="form-buttons">
      <%= f.submit("Create Section") %>
    </div>

  <% end %>


</div>