
  <%= link_to("Add New Page", new_page_path , :class => 'action new') %>

  <table class="listing" summary="Page list">
    <tr class="header">
      <th> * </th>
      <th>Page</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.position %> </td>
      <td><%= page.name %> </td>
      <td class="center"><%= status_tag(page.visible)%></td>
      <td class="center"><%= page.sections.size %></td>
      <td class="actions">
      <!--can use "pages/#{page.id}" or "subject_path(subject) or {:controller => subjects, :action => show, :id => subject.id}"-->
        <%= link_to("Show", page_path(page), :class => 'action show') %>
        <%= link_to("Edit", edit_page_path(page), :class => 'action edit') %>
        <%= link_to("Delete", delete_page_path(page), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>